body {
    margin: 50px;
    font-family: Arial;
}

.singleRect {
	text-align: center;
}

.selected rect {
    stroke-width: 2;
    stroke: #444;
}

.difflabel {
  display: inline-block;
  margin: 0;
  margin-left: 15px;
  padding: 2px;
}
